<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <%- include('../partials/logobar.ejs') %>

<h2>Edit <%= oneNail.service %> Appointment </h2>

<form action="/nails/<%= oneNail._id %>?_method=PUT" method="POST">
    <label for="service">Service:</label>
    <input name="service"  type="text" value="<%= oneNail.service %>">
    <br>
    <label for="name">Name:</label>
    <input name="name"  type="text" value="<%= oneNail.name %>">
    <br>
    <label for="color">Color:</label>
    <input name="color"  type="text" value="<%= oneNail.color %>">
    <br>
    <label for="shape">Shape:</label>
    <input name="shape"  type="text" value="<%= oneNail.shape %>">
    <br>
    <label for="date">Date:</label>
    <input name="date"  type="text" value="<%= oneNail.date %>">
    <br>
    <label for="time">Time:</label>
    <input name="time"  type="text" value="<%= oneNail.time %>">
    <br>
    <input type="submit" value="Update Appointment">
</form>
    
</body>
</html>