<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nail Appointment</title>
</head>
<body class="show">
    <%- include('./partials/logobar.ejs') %>

<h1>Appointment Confirmation 🔮</h1>
<p>An appointment is scheduled for <%= oneNail.date %> at <%= oneNail.time%> . </p>
<p>For a <%= oneNail.service %> with a nail shape of <%= oneNail.shape %> and color of <%= oneNail.color%>. </p> 

</body>
</html>